.salary{
     color: white;
    border: 1px solid grey;
    margin: 0 auto;
    background-color: blue;
    border-radius: 20px;
    /* position: fixed; */
    margin-left: 20px;
    width: 90%;
    margin-top: 20px;
}